{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>RANIEL PARCO</h1>
    <h2>Senior Software Engineer</h2>

    <div class="section contact">
        <p>📞 +639615029505</p>
        <p>✉️ parcoraniel9@gmail.com</p>
        <p>🗂️ portfolio in progress</p>
    </div>

    <div class="section summary">
        <h2>SUMMARY</h2>
        <p>Experienced and accomplished engineer with more than 5 years of experience in the field of IT industry, looking to leverage extensive background in becoming a python developer.</p>
    </div>

    <div class="section education">
        <h2>EDUCATION</h2>
        <p><strong>2015-2019</strong><br>Southern Luzon State University<br>BSIT - Major in Computer Technology<br><em>Cum Laude</em></p>
        <p><strong>2011-2015</strong><br>Quezon Science High School</p>
        <p><strong>2005-2011</strong><br>Rizal Elementary School</p>
    </div>

    <div class="section skills">
        <h2>SKILLS</h2>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>HTMX</li>
            <li>TailwindCSS</li>
            <li>MongoDB</li>
            <li>Flask</li>
            <li>Jinja2</li>
            <li>Django</li>
            <li>Python</li>
            <li>Object oriented programming</li>
            <li>C# and C++</li>
            <li>Quality Assurance</li>
        </ul>
    </div>

    <div class="section work">
        <h2>WORK EXPERIENCE</h2>
        <h3>DENSO TECHNO PHILIPPINES INC. 2019-present</h3>

        <strong>Senior Software Engineer (2022-2024)</strong>
        <ul>
            <li>Responsible for small management tasks
                <ul>
                    <li>Responsible in quality control by checking output of other employees.</li>
                    <li>Responsible for productivity improvement through creating applications.</li>
                </ul>
            </li>
            <li>Creation of automation tools using python.</li>
            <li>Expert in technical testing and automation.</li>
        </ul>

        <strong>Software Engineer (2021-2022)</strong>
        <ul>
            <li>Responsible for technical tasks and tool creation.</li>
            <li>Responsible for web development and web testing.</li>
        </ul>

        <strong>Junior Software Engineer (2019-2021)</strong>
        <ul>
            <li>Responsible in coding quality tasks and testing.</li>
        </ul>
    </div>

    <div class="section certifications">
        <h2>CERTIFICATIONS</h2>
        <ul>
            <li>Web Developer Bootcamp with Flask and Python in 2024</li>
            <li>Full Stack Web Development with Django 5, TailwindCSS, HTMX</li>
            <li>Python Bootcamp: Learn, Code, Build</li>
            <li>Crash course: Data analytics in Python using Pandas</li>
            <li>Business Trip in Japan for Python automation [FY2023]</li>
            <li>Ethical Hacking and IoT Security Seminar</li>
            <li>Online Japanese N4 Course [2022]</li>
        </ul>
    </div>
</div>
{% endblock %}
