{% extends "base.html" %}

{% block content %}
<main class="main main--content">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details"> 
                <a class="contact__link" href="mailto:parcoraniel9@gmail.com">
                    praniel0@gmail.com

                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>Number:</dt>
            <dd class="contact__details"> 
                <span class="contact__link">
                    +639615029505
                </span>
                    
            </dd>
        </div>
        <div class="contact">
            <dt>Github:</dt>
            <dd class="contact__details"> 
                <a class="contact__link" href="https://github.com/parks026">
                    parks026
                    
                </a>
            </dd>
        </div>
    </dl>
</main>
{% endblock %}